@page "/404";

<h1>404</h1>
<p style="text-align: center; margin-top: -30px;">The resource that you have requested is not available. Please go back to the previous page, or navigate to a different page.</p>

<style>
    h1 {
        font-size: 30em;
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        margin-top: -40px;
        text-align: center;
    }
</style>

@code {

}
