@page "/cars"
@using CarRental.BlazorWasm.Services.ItemService


@inject CarService carService

<h3>Cars</h3>
@*TODO: Make insertion modal here @Baibhab*@
<TableTemplate TItem=Car ItemService=@carService TItemRequest=@CarRequest Editable=true Deletable=true Insertable=false/>

@code {

}
