@page "/"

<PageTitle>हजुरको Car Rental</PageTitle>

<h1>Hello!</h1>

Welcome to हजुरको Car Rental Services

<div class="mt-4">
    <a href="/login" class="btn btn-primary me-3">Login</a>
    <a href="/register" class="btn btn-secondary">Register</a>
</div>

