@page "/"
@using System.Web
@using System.Text.RegularExpressions;

<PageTitle>हजुरको Car Rental</PageTitle>



<div class="bg-image"
     style="
            background-image: url('https://cdni.autocarindia.com/utils/imageresizer.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/Hyundai-Grand-i10-Nios-200120231541.jpg');
            height: 70vh; max-width:100%;
            ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 70vh;">
		<div class="row">
			<div class="mask-text">
			<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-2">
				
					<h1 class="text-white mb-0">Welcome to हजुरको Car Rental Services</h1>
					<a href="/cars" class="btn btn-outline-info">View Cars</a>
				</div>
           
		</div>
		
		</div>

	</div>
</div>


  <div class="button-container">
            <a href="/login" class="btn btn-outline-secondary me-3">Login</a>
            <a href="/register" class="btn btn-outline-secondary">Register</a>
  </div> 
   
   <div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3>Suggestions for You</h3>
						
					</div>
				</div>
			</div>
		</div>
	</div>

