@page "/car-requests"

<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 mb-5 mb-lg-0 text-center">
            <h3 style="font-family: Arial Rounded MT; padding: 10px 24px;">Car Request</h3>
        </div>
    </div>
</div>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Car Model</th>
            <th scope="col">Rent Price</th>
            <th scope="col">Rent From</th>
            <th scope="col">Rent To</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Doe</td>
            <td>Hyundai Ioniq</td>
            <td>$75</td>
            <td>3rd May, 2023</td>
            <td>10th May, 2023</td>
            <td>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Deny</button>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
