@page "/rent-history"

<h3>Rent History</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Car Model</th>
            <th scope="col">Rent Price</th>
            <th scope="col">Rent From</th>
            <th scope="col">Rent To</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hyundai Ioniq</td>
            <td>$75</td>
            <td>3rd May, 2023</td>
            <td>10th May, 2023</td>
            <td>Pending</td>
            <td>
                <button class="btn btn-danger">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>

@code {

}

