@page "/upload";

<section class="h-custom">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h1 style="padding: 50px; text-align: center;">Upload your Document</h1>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <p style="text-align: center; margin-top: -30px;">Click on the botton below to upload your document.</p>
        </div>
    </div>
</section>

<section class="uplcls">
    <button class="btn"><i class="fa fa-upload"></i></button>
</section>

<style>
    .uplcls {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 50px;
        background: whitesmoke;
        height: 350px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn {
        border-radius: 20px;
        background: whitesmoke;
        width: 150px;
        height: 150px;
        font-size: 24px;
        padding: 16px;
    }
</style>

@code {

}
