@page "/user-damage-history"

<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 mb-5 mb-lg-0 text-center">
            <h3 style="font-family: Arial Rounded MT; padding: 10px 24px;">Damage History</h3>
        </div>
    </div>
</div>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Car Model</th>
            <th scope="col">Damage Type</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hyundai Ioniq</td>
            <td>Something</td>
            <td>Something</td>
            <td>Paid</td>
            <td>Something</td>
        </tr>
    </tbody>
</table>


@code {

}
